.createdrow {
  overflow-y: hidden;
  height: 100vh;
}
.HondaHome2 {
  height: 10em;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

.HondaSvg2 {
  height: 100%;
  width: 100%;
}
.HondaPath2 {
  stroke: none;
  fill: #dd156d;
}
.fotocarga img {
  position: relative;
  top: 20%;
  height: 10em;
  width: auto;
}
.containerInput {
  position: relative;
  top: 2em;
}
.custom-file-input::-webkit-file-upload-button {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  color: #666;
  font-size: 16px;
  font-weight: bold;
}

.custom-file-input::-moz-file-upload-button {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  color: #666;
  font-size: 16px;
  font-weight: bold;
}

.custom-file-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  color: #666;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 900px) {
  .imagenlogo {
    height: 80%;
    width: 80%;
  }

  .copy {
    display: none;
  }
  .copy2 {
    display: none;
  }
  .HondaHome2 {
    display: none;
  }
  .createdrow {
    overflow: hidden;
  }
  .fotocarga img {
    height: 50%;
    width: 50%;
  }
}
