.styleWhat {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: green;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms ease;
}
.message-porLeer {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 22px;
  background-color: red;
  color: aliceblue;
  border-radius: 50%;
  z-index: 1;
}
.iconStyle {
  color: white;
  font-size: 50px;
  transition: all 400ms ease;
}
.iconStyle:hover {
  transform: scale(1.1);
}
.styleWhat:hover {
  transform: scale(1.1);
}
